.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
    min-height: 35px !important;
    z-index: 999 !important;
    justify-content: center !important;
}
.MuiBox-root.css-h8m1q6 {
    margin-top: 5px !important;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}